@import '../../global.scss';

.menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    overflow-y: hidden;
    right: -300px;
    top: 0;
    z-index: 2;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 1s ease;

    .personalDetails {
        display: none;
        flex-direction: column;
        height: 70px;
        @include reponsive {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .itemContainer {
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            color: white;
        }

        .icon {
            margin-right: 5px;
            font-size: 18px;
        }

        span {
            font-size: 15px;
            font-weight: 500;
        }
    }

    @include reponsive {
        flex-direction: column;
        justify-content: space-around;
    }

    ul {
        display: flex;
        flex-direction: column;
        color: $mainColor;
        align-items: inherit;
        justify-content: center;
        width: 70%;

        li {
            align-items: center;
            margin-bottom: 15px;
            cursor: pointer;
            width: 100%;
            height: 50px;
            a{
                color: inherit;
                font-weight: 300;
                font-size: 18px;
                text-decoration: none;
                transition: all 0.5s ease;
            }
        }
    }

    &.active {
        background-color: $mainColor;
        right: 0px;
        ul {
            li {
                a {
                    color: white;
                    &:hover {
                        font-weight: 500;
                        font-size: 25px;
                    }
                }
            }
        }
        
    }
}