.cssModel {
    // width: 90%;
    // height: 70%;
    width: 560px;
    height: 550px;
    background-color: transparent;
}

.cssModelContent {
    // width: 90%;
    // height: 90%;
    height: 505px;
    width: 100px;
    // background-color: transparent !important;
}

.modelImg {
    height: 401px;
    width: 765px;
}