@import '../../global.scss';

.certificationDetails {
  position: relative;
  margin-top: 10px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  // z-index: 4;
  height: 300px;
  width: 233px;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease;

  img {
    height: 100%;
    width: 100%;
  }

  h2 {
    position: absolute;
    opacity: 0;
    text-align: center;
  }

  &:hover {
    background-color: $mainColor;

    img {
      opacity: 0.2;
    }

    h2 {
      opacity: 1;
      color: white;
    }
  }
}
