@import "~bootstrap/scss/bootstrap";

.app {
    height: 100vh;
    overflow-y: hidden;

    .section {
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}